<h4 mat-dialog-title>
    <mat-toolbar role="toolbar" class="task-header">
        <span>Magazyn</span>
        <span class="fx-spacer"></span>
        <button mat-icon-button (click)="onNoClick()">
            <mat-icon mat-list-icon>close</mat-icon>
        </button>
    </mat-toolbar>
  </h4>


    <mat-form-field>
        <mat-label>Filtr</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="do wyszukania" #input>
      </mat-form-field>


    <mat-spinner *ngIf="!tabelka" class="spiner" color="warn"></mat-spinner>
  
    <table *ngIf="tabelka" mat-table [dataSource]="magazyn" class="mat-elevation-z8">
  
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="identyfikator">
          <th mat-header-cell *matHeaderCellDef> Identyfikator. </th>
          <td mat-cell *matCellDef="let element"> {{element.identyfikator}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="nazwa">
          <th mat-header-cell *matHeaderCellDef> &nbsp;Nazwa </th>
          <td mat-cell *matCellDef="let element">&nbsp; {{element.nazwa}} </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="cenaBrutto">
          <th mat-header-cell *matHeaderCellDef> &nbsp;Cena Brutto </th>
          <td mat-cell *matCellDef="let element">&nbsp; {{element.cenaBrutto}} </td>
        </ng-container>
         <!-- Name Column -->
         <ng-container matColumnDef="jednostkaMiary">
            <th mat-header-cell *matHeaderCellDef>&nbsp; J.M. </th>
            <td mat-cell *matCellDef="let element">&nbsp; {{element.jednostkaMiary}} </td>
          </ng-container>
           <!-- Name Column -->
        <ng-container matColumnDef="iloscwJednostce">
            <th mat-header-cell *matHeaderCellDef>&nbsp; Ilość w Jednostce </th>
            <td mat-cell *matCellDef="let element">&nbsp; {{element.iloscwJednostce}} </td>
          </ng-container>
                    
        <!-- Weight Column -->
        <ng-container matColumnDef="akcje">
          <th mat-header-cell *matHeaderCellDef>&nbsp; Akcje </th>
          <td mat-cell *matCellDef="let element"> 

            &nbsp;
            <button (click)="zapiszKoszt(element.id)" mat-mini-fab color="accent" aria-label="Example icon button with a delete icon">
                <mat-icon>add</mat-icon>
              </button>

            
          
              
  
          </td>
        </ng-container>
      
              
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

