<h1 mat-dialog-title>Logowanie</h1>
<div mat-dialog-content>

    <form class="inputt">
        <mat-form-field class="inputt">
            <mat-label>Login</mat-label>
            <input matInput (keyup)="onKeyLogin($event)">
        </mat-form-field>
        <mat-form-field class="inputt">
            <mat-label>Hasło</mat-label>
            <input matInput type="password" (keyup)="onKeyHaslo($event)">
        </mat-form-field>
      
        
      </form>

       
</div>
<BR><BR>
<div mat-dialog-actions>
        <button mat-button (click)="onOKClick()" cdkFocusInitial>OK</button>
</div>


