.task-header {
    background-color: transparent;
    padding: 0 5px;
    height: 20px;
}
.fx-spacer {
    flex: 1 1 auto;
}

.naglowek {
    background-color: hsla(0, 0%, 50%, 0.979); 
}



.mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .mat-table {
    overflow: auto;
    max-height: 200px;
  }

mat-cell:nth-child(1){
    flex: 0 0 70%;
}
mat-header-cell:nth-child(1) {
    flex: 0 0 70%;
}


mat-cell:nth-child(2){
    flex: 0 0 25%;
    margin-left: 7px;
}
mat-header-cell:nth-child(2) {
    flex: 0 0 25%;
    margin-left: 7px;
}


mat-cell:nth-child(3){
    flex: 0 0 15%;
    margin-left: 7px;
}
mat-header-cell:nth-child(3) {
    flex: 0 0 15%;
    margin-left: 7px;
}


mat-cell:nth-child(4){
    flex: 0 0 5%;
    margin-left: 7px;
}
mat-header-cell:nth-child(4) {
    flex: 0 0 5%;
    margin-left: 7px;
}


mat-cell:nth-child(5){
    flex: 0 0 5%;
    margin-left: 7px;
}
mat-header-cell:nth-child(5) {
    flex: 0 0 5%;
    margin-left: 7px;
}

mat-cell:nth-child(6){
    flex: 0 0 10%;
    margin-left: 7px;
}
mat-header-cell:nth-child(6) {
    flex: 0 0 10%;
    margin-left: 7px;
}