<h4 mat-dialog-title>
    <mat-toolbar role="toolbar" class="task-header">
        <span>{{data.kodProcedury}}&nbsp;-&nbsp;{{data.nazwaProcedury}}</span>
        <span class="fx-spacer"></span>
        <button mat-icon-button (click)="addKoszt()">
            <mat-icon mat-list-icon>add</mat-icon>
        </button>
        <button mat-icon-button (click)="onNoClick()">
            <mat-icon mat-list-icon>close</mat-icon>
        </button>
    </mat-toolbar>
  </h4>

    <mat-form-field>
        <mat-label>Filtr</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="do wyszukania" #input>
      </mat-form-field>
  
      <div class="mat-elevation-z8">
        <mat-table #table [dataSource]="pokKoszty">
    
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
    
        <!-- Position Column -->
        <ng-container matColumnDef="identyfikator">
          <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
          
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="nazwa">
          <mat-header-cell *matHeaderCellDef>Nazwa</mat-header-cell>
          
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="jednostkaMiary">
          <mat-header-cell *matHeaderCellDef>Jm</mat-header-cell>
          
        </ng-container>
    
        <!-- Symbol Column -->
        <ng-container matColumnDef="iloscwJednostce">
          <mat-header-cell *matHeaderCellDef>Ilosc w Jm</mat-header-cell>
          
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="iloscJednostkowa">
          <mat-header-cell *matHeaderCellDef>Ilosc zużyta</mat-header-cell>
         
        </ng-container>
        <ng-container matColumnDef="akcje">
          <mat-header-cell *matHeaderCellDef>Akcje</mat-header-cell>
          
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        
      </mat-table>
      <mat-table #table [dataSource]="pokKoszty">
    
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
    
        <!-- Position Column -->
        <ng-container matColumnDef="identyfikator">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.identyfikator}} </mat-cell>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="nazwa">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.nazwa}} </mat-cell>
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="jednostkaMiary">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.jednostkaMiary}} </mat-cell>
        </ng-container>
    
        <!-- Symbol Column -->
        <ng-container matColumnDef="iloscwJednostce">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.iloscwJednostce}} </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="iloscJednostkowa">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.iloscJednostkowa}} </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="akcje">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element"> 

            <button (click)="editKoszt(element.id, element.iloscJednostkowa)" mat-mini-fab color="accent">
              <mat-icon>edit</mat-icon>
            </button>
            &nbsp;
            <button (click)="delKoszt(element.id)" mat-mini-fab color="accent">
              <mat-icon>delete_forever</mat-icon>
            </button>
          
          
          </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns" [style.min-height]="0" ></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
    