<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <span> &nbsp;Wyliczanie kosztów procedur medycznych</span>
  <span class="example-spacer"></span>
  
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="logowanie()">
    <mat-icon>input</mat-icon>
    <span>Logowanie</span>
  </button>
  <button mat-menu-item (click)="slowniki()">
    <mat-icon>input</mat-icon>
    <span>Słowniki</span>
  </button>
  <button mat-menu-item>
    <mat-icon>input</mat-icon>
    <span>Jednostki</span>
  </button>
  <button mat-menu-item>
    <mat-icon>input</mat-icon>
    <span>Oddziały</span>
  </button>
  <button mat-menu-item>
    <mat-icon>input</mat-icon>
    <span>Procedury</span>
  </button>
  <button mat-menu-item>
    <mat-icon>input</mat-icon>
    <span>Materiały</span>
  </button>
</mat-menu>
<br>
<mat-card *ngIf="oddzial">
  <mat-card-subtitle>&nbsp;Oddział : {{oddzial}}</mat-card-subtitle>
</mat-card>

<br>
<mat-card *ngIf="oddzial">
  <mat-card-subtitle>&nbsp;Wykonywane procedury : {{wybor}}</mat-card-subtitle>

  <mat-card-content>
    <span>
      <mat-form-field>
        <mat-label>Filtr</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="do wyszukania" #input>
      </mat-form-field>
    </span>
    <span>&nbsp;
      <button (click)="rodzajNiePrzypisane()" mat-button aria-label="Example icon button with a delete icon">
      Nie przypisane
    </button>&nbsp;
    <button (click)="rodzajPrzypisane()" mat-button aria-label="Example icon button with a delete icon">
      Przypisane
    </button>

    </span>

   
      <mat-spinner *ngIf="!tabelka" class="spiner" color="warn"></mat-spinner>


    
      <div class="mat-elevation-z8" *ngIf="tabelka">
        <mat-table #table [dataSource]="procedury">
    
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
    
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
        </ng-container>
        <ng-container matColumnDef="kod">
          <mat-header-cell *matHeaderCellDef>Kod</mat-header-cell>
        </ng-container>
        <ng-container matColumnDef="nazwa">
          <mat-header-cell *matHeaderCellDef>Nazwa</mat-header-cell>
        </ng-container>
        <ng-container matColumnDef="akcje">
          <mat-header-cell *matHeaderCellDef>Akcje</mat-header-cell>
          
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        
      </mat-table>
      <mat-table #table [dataSource]="procedury">
    
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
    
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="kod">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.kod}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="nazwa">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.nazwa}} </mat-cell>
        </ng-container>
    
        

        <!-- Symbol Column -->
        <ng-container matColumnDef="akcje">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element"> 

            <button *ngIf="wybor=='nie przypisane'" (click)="addProc(element.id)" mat-mini-fab color="accent">
              <mat-icon>add_task</mat-icon>
            </button>
            &nbsp;
            <button *ngIf="wybor=='przypisane'" (click)="delProc(element.id)" mat-mini-fab color="accent">
              <mat-icon>delete_forever</mat-icon>
            </button>
            
            &nbsp;
            <button *ngIf="wybor=='przypisane'" (click)="koszty(element.id, element.nazwa, element.kod)" mat-mini-fab
              color="accent">
              <mat-icon *ngIf="element.materialy>0" matBadge="{{element.materialy}}" matBadgeColor="warn">dns</mat-icon>
              <mat-icon *ngIf="element.materialy==0">dns</mat-icon>
            </button>
            &nbsp;
            <button *ngIf="wybor=='przypisane'" mat-mini-fab color="accent">
              <mat-icon>history_toggle_off</mat-icon>
            </button>
            &nbsp;
            <button *ngIf="wybor=='przypisane'" mat-mini-fab color="accent">
              <mat-icon>fact_check</mat-icon>
            </button>
            &nbsp;
            
            <mat-icon *ngIf="wybor=='przypisane'">lock_open</mat-icon>
            <mat-icon *ngIf="wybor=='przypisane'">lock</mat-icon>
          
          
          </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns" [style.min-height]="0" ></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>



    
    


  

  </mat-card-content>

</mat-card>



