<h4 mat-dialog-title>
    <mat-toolbar role="toolbar" class="task-header">
        <span>Koszty czasu Pracy</span>
        <span class="fx-spacer"></span>
        <button mat-icon-button (click)="closeModal()">
            <mat-icon mat-list-icon>close</mat-icon>
        </button>
    </mat-toolbar>
  </h4>
  <BR>
    <mat-form-field>
        <mat-label>Filtr</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="do wyszukania" #input>
      </mat-form-field>

    <table mat-table [dataSource]="slowniki" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="oddzial">
          <th mat-header-cell *matHeaderCellDef> Oddzial </th>
          <td mat-cell *matCellDef="let element"> {{element.oddzial}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="typ">
          <th mat-header-cell *matHeaderCellDef> typ </th>
          <td mat-cell *matCellDef="let element"> {{element.typ}} </td>
        </ng-container>
         <!-- Name Column -->
         <ng-container matColumnDef="kosztgodziny">
          <th mat-header-cell *matHeaderCellDef> Koszt Godziny </th>
          <td mat-cell *matCellDef="let element"> {{element.kosztgodziny}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="akcje">
          <th mat-header-cell *matHeaderCellDef> Akcje </th>
          <td mat-cell *matCellDef="let element"> &nbsp;&nbsp;&nbsp; 
            <button (click)="dodajkoszt(element.idOddzialu, element.idPracownika, element.kosztgodziny)" mat-mini-fab color="accent" aria-label="Example icon button with a delete icon">
                <mat-icon>edit</mat-icon>
              </button>
              

          </td>
        </ng-container>
      
              
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      
      
      

    
