<h1 mat-dialog-title>Słownik</h1>
<div mat-dialog-content>

    <form class="inputt">
        <mat-form-field class="inputt">
          <mat-label>Podaj nazwę słownika</mat-label>
          <input matInput (keyup)="onKey($event)" value="{{data.nazwa}}">
        </mat-form-field>
      
        
      </form>

       
</div>

<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()" cdkFocusInitial>Zamknij</button>
        &nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-button (click)="onOkClick()" cdkFocusInitial>Zapisz</button>
</div>

